<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  <style>  
    #innerContainer {
      border-radius: 25px;
      border: 3px solid #73AD21;
      text-align: center;
      word-wrap: break-word;
      font-size: 23px;
      font-weight: 600;
    }
  </style>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"> </script>  
  <script type="text/javascript">
    let oldList = []
    const bg_color = ['primary','danger','warning','secondary','dark','success','info']

 
    setInterval(function() { 
      $.ajax({
        url: "/background_process",
        type: 'GET',
        success: (list, colors) => {
          let myOldList = oldList.join("|");
          let myList = list.join("|");
          console.log(list)
          if (myOldList != myList) {
            $("#result").empty();
            let i=0
            list[0].forEach(result => {
              $("#result").append(`
                <span class="col badge m-1 px-4 rounded-pill bg-${bg_color[list[1][i]]}">
                  <h4>${result}</h4>
                </span>
              `);
              i++;
            });
            oldList = list
          } else {
            console.log("IN ELSE")
          } 
        }
      });
    }, 2000);

  </script>

</head>
<body>
  <div class="container-fluid" id="result">
    <div class="row">
  
    </div>
  </div>
</body>
</html>
